# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/COMP4300_001.sln
/COMP4300_001.vcxproj
/COMP4300_001.vcxproj.filters
/COMP4300_001.vcxproj.user
/x64
/.vs/COMP4300_001
